body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 10px;
    width: 300px;
  }
  
  #quote-list {
    max-height: 1200px;
    overflow-y: auto;
  }
  
  .quote-item {
    padding: 5px;
    background-color: #ffffff;
    font: 17px 'Courier New', monospace;
  }
  
  .delete-button {
    margin-left: 5px;
  }
  